/* Reset default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: Arial, sans-serif;
  background-color:#DAF1FE;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #DAF1FE;
  /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);*/
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Style the form label and input elements */
.question-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc; 
   border-radius: 5px;
  font-size: 16px;
}

/* Style the submit button */
.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* Style select dropdowns */
select {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

/* Style radio buttons and checkboxes */
input[type="radio"],
input[type="checkbox"] {
  margin-right: 8px;
}

/* Style required field indicator */
.required-indicator {
  color: red;
}


/* Add this to your App.css file */
.header-box {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.header-box h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.header-box p {
  font-size: 16px;
  margin-bottom: 5px;
}

.header-box p:last-child {
  margin-bottom: 0;
}
.logo{
  font-size: 100px;
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 1px solid #ccc;
  padding-left: 80px; 
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}